body {
  background-image: url(../img/bglegno.jpg);
  background-size: cover;
  color: white;
}

button{
  border-radius: 20%;
}

.container {
  width: 1000px;
  margin: auto;
}

.logo {
  border-radius: 10%;
  width: 100px;
}

.logo-text {
  display: inline;
  font-size: 25px;
  vertical-align: 60%;
}

#search {
  width: 200px;
}

/* conteggio messaggi non letti */
#counter {
  background: orange;
  border-radius: 50%;
  /* distanza bordo testo */
  display: inline-block;
  text-align: center;
  width: 45px;
  height: 45px;
  line-height: 45px;
  /* alternativa rimuovendo precendente padding: 15px; */
  /* /distanza bordo testo */
}
/* /conteggio messaggi non letti */

.mail-non-letta {
  background-color: lightgrey;
}

.mail-letta {
  background-color: white;
}

.subject {
  color: black;
}

.body {
  color: grey;
}


.intestazione-mail {
  font-weight: bold;
  display: inline-block;
}

footer {
  text-align: center;
}

#name-footer {
  font-size: 25px;
}
